body {
  background-color: #cfdac8;
}

.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Image {
  margin-top: 50px;
}

@media (max-width: 770px) {
  .Container {
    margin: 0 30px;
  }
}
